/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
Google Font
font-family: 'Varela Round', sans-serif;
font-family: 'Lato', sans-serif;
*/

* {
  box-sizing: border-box;
}

:focus,
*:focus,
a:hover,
a:focus,
a{
  text-decoration : none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

html, body {
  padding: 0;
  margin: 0;
  /*background: #ededed;*/
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  position: relative;
}
body.active{
	overflow-y: hidden;
}
body.fixed{
	padding-top: 60px;
}
/* Header */
header{
	padding: 5px 0;
}
.nav-header,
.nav-body,
.nav-footer{
	margin-bottom: 10px;
}
.nav-header:after{
	clear: both;
	content: " ";
	display: block;
}
.logoad-unit .logo {
	text-indent: -9999px;
	background: url('../image/logo.png') no-repeat center center;
	width: 318px;
	height: 67px;
	float: left;
	position: relative;
}
.adbar{
	margin-left: 100px;
	float: left;
	position: relative;
	width: calc( 100% - 318px - 100px);
    height: 97px;
    background-color: #000;
}
body.fixed .logoad-unit .logo {
    position: fixed;
    top: 8px;
    left: 82px;
    z-index: 999;
	background-image: url('../image/wlogo.png');
    background-size: cover;
    width: 216px;
    height: 45px;
}
.nav-body{
	background: url('../image/menubanner.png') no-repeat center center;
	height: 100px;
	display: block;
	background-size: cover;
	position: relative;
}
.nav-body.fixed {
    position: fixed;
    top: 0;
    height: 60px;
    z-index: 998;
    width: 100%;
    background-image: initial;
    background: #12a3e0;
}
.burgermenu-unit{
	width: 40px;
	height: 32px;
	display: inline-block;
	background-color: transparent;
	position: absolute;
	top: 30px;
	left: 30px;
	cursor: pointer;
	padding: 0px 10px;
}

.burger-menu,
.burger-menu:after,
.burger-menu:before{
  position: absolute;
  margin: 0 auto;
  top: 14px;
  left: 0px;
  right: 0;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
   -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
.burger-menu:after{
  content: " ";
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
}
.burger-menu:before{
  content: " ";
  display: block;
  position: absolute;
  top: -10px;
  left: 0;
}
.burger-menu.active{
  background: transparent;
  -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
}
.burger-menu.active:before{
      -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  top: 0;
}
.burger-menu.active:after{
      -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  top: 0;
}
.nav-body.fixed .burger-menu{
	top: 0px;
}
.nav-footer .ad-unit{
	width: 100%;
	display: block;
	background-color: #000;
	height: 60px;
}
.nav-menu{
	position: fixed;
	top: 180px;
	width: 240px;
	background-color: #0096db;
	height: 100vh;
	opacity: 0;
	visibility: hidden;
	  -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
    padding-top: 8px;
    z-index: 999;
}
.nav-menu.active{
	opacity: 1;
	visibility: visible;
	  -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
}
.fixed.active .nav-menu.active{
	top: 50px;
	z-index: 990;
}
li > a{
	text-transform: capitalize;
	padding: 5px 5px;
	margin: 2px;
	display: block;
    color: #fff;
    font: 400 17px/26px 'Lato', sans-serif;;
    line-height: 41px;
    padding-left: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

li.active,
li:hover,
li:focus{
	background-color: #fff;
	color: #333;
	    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
li:hover a,
li:focus a{
	color: #333;
	    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

section{
	background: transparent;
}
.section-title {
    background: transparent;
    padding: 10px 0px;
    color: #fff;
}
.section-title.scroll-to-fixed-fixed {
    left: 316px !important;
    padding: 0;
}

.section-title span{
    color: #fff;
    background-color: blue;
    width: 200px;
    padding: 10px 60px 10px 10px;
    position: relative;
    display: block;
    font: normal 16px/normal 'Varela Round', sans-serif;
    text-transform: capitalize;
}
.section-title span::after{
    content: "";
    position: absolute;
    top: -30px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 30px solid transparent;
    border-bottom: 38px solid #fff;
    /*
    -webkit-box-shadow: 5px 5px 0px 0px rgba(255,255,255,1.25);
-moz-box-shadow: 5px 5px 0px 0px rgba(255,255,255,1.25);
box-shadow: 5px 5px 0px 0px rgba(255,255,255,1.25);
*/
}
.section-title.scroll-to-fixed-fixed {
    padding: 0px;
}
.section-title.scroll-to-fixed-fixed span{
	padding: 19px;
	font-size: 19px;
	line-height: normal;
}
.section-title.scroll-to-fixed-fixed span::after{
    border-bottom: 38px solid transparent;
}
#gallery span{
	background-color: #0096db;
	/*
	-webkit-box-shadow: 5px 5px 10px 0px rgba(218,68,152,0.25);
-moz-box-shadow: 5px 5px 10px 0px rgba(218,68,152,0.25);
box-shadow: 5px 5px 10px 0px rgba(218,68,152,0.25);
*/
}

#trending-now span{
	background-color: #da4498;
	/*
	-webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
*/
}
#shows span{
	background-color: #0096db;
	/*
	-webkit-box-shadow: 5px 5px 10px 0px rgba(218,68,152,0.25);
-moz-box-shadow: 5px 5px 10px 0px rgba(218,68,152,0.25);
box-shadow: 5px 5px 10px 0px rgba(218,68,152,0.25);
*/
}
#events span{
	background-color: #da4498;
	/*
	-webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
*/
}
#charts span{
	background-color: #0096db;
	/*
	-webkit-box-shadow: 5px 5px 10px 0px rgba(218,68,152,0.25);
-moz-box-shadow: 5px 5px 10px 0px rgba(218,68,152,0.25);
box-shadow: 5px 5px 10px 0px rgba(218,68,152,0.25);
*/
}
#news span{
	background-color: #da4498;
	/*
	-webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
*/
}
#sales span{
	background-color: #0096db;
	/*
	-webkit-box-shadow: 5px 5px 10px 0px rgba(218,68,152,0.25);
-moz-box-shadow: 5px 5px 10px 0px rgba(218,68,152,0.25);
box-shadow: 5px 5px 10px 0px rgba(218,68,152,0.25);
*/
}
#shopnow span{
	background-color: #da4498;
	/*
	-webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
*/
}
#classified span{
	background-color: #0096db;
	/*
	-webkit-box-shadow: 5px 5px 10px 0px rgba(218,68,152,0.25);
-moz-box-shadow: 5px 5px 10px 0px rgba(218,68,152,0.25);
box-shadow: 5px 5px 10px 0px rgba(218,68,152,0.25);
*/
}
#rjprofiles span{
	background-color: #da4498;
	/*
	-webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
*/
}

img{
	width: 100%;
	max-width: 100%;
}